/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wpvr_gt_settings_ruler {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    margin: 30px 0 30px 0;
    background: #929eaa;
}

.wpvr_tabs_row {
    width: 20% !important;
}


/* wpvr_role-container  */

.wpvr_role-container .switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wpvr_role-container ul {
    padding: 10px;
}

.wpvr_role-container .switch h6 {
    width: calc(100% - 130px);
    padding-right: 20px;
}

#adminmenu .toplevel_page_wpvr .wp-menu-image img {
    padding: 7px 0 0px 0;
}

/* Absolute Center Spinner */

.wpvr-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.wpvr-loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


/* :not(:required) hides these rules from IE9 and below */

.wpvr-loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.wpvr-loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pnlm-load-button p {
    color: #fff;
}

.icon-wpvrtourmake_icon:before {
    content: '';
    height: 30px;
    width: 30px;
    background: url('../images/icon.png') no-repeat center center / 100% 100%;
}

.scene-gallery {
    border-radius: 6px;
    max-width: 626px;
    margin: 0 auto;
    padding: 0 10px;
    color: #32373c;
    background-color: #eceef1;
    box-sizing: border-box;
}

.scene-gallery ul {
    display: inline-grid;
}

.scene-gallery ul li {
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    word-break: break-word;
}

.scene-gallery ul li.owlscene {
    margin-bottom: 5px;
}

.scene-gallery .marked .owlscene {
    color: #004efa;
}

.scene-gallery ul li img {
    filter: blur(0.5px) brightness(0.5);
    -webkit-filter: blur(0.5px) brightness(0.5);
}

.scene-gallery .marked ul li img {
    filter: blur(0) brightness(1);
    -webkit-filter: blur(0) brightness(1);
}


/* .scene-gallery ul li:not(.owlscene):before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.scene-gallery .marked ul li:not(.owlscene):before {
    background: transparent;
} */

.scctrl {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
}

.scctrl:hover {
    background: rgba(200, 200, 200, 1);
}

.vr-export {
    color: #fff!important;
    background-color: #2196F3!important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.rex-pano-tab-content ::-webkit-input-placeholder {
    color: #ccc;
}

.rex-pano-tab-content ::-moz-placeholder {
    color: #ccc;
}

.rex-pano-tab-content :-ms-input-placeholder {
    color: #ccc;
}

div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    cursor: default;
    margin: 0 0px 0px 12px !important;
    bottom: 40px;
    transform: translateX(-50%);
    min-width: 300px;
    font-size: 15px;
    line-height: 24px;
}

div.custom-tooltip:hover span {
    visibility: visible;
}

div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}

#custom-ifram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 90%;
    height: 293px;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
}

.icons-selector .selector {
    width: 100%;
}

.iframe-wrapper {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

.iframe-wrapper .pnlm-container {
    height: 100%;
    width: 100%;
}

.pano-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
}

.iframe-wrapper.show-modal .pano-wrap:before {
    opacity: 1;
    visibility: visible;
}

.iframe-wrapper #cross {
    background: #fff;
    width: 24px;
    height: 24px;
    color: red;
    line-height: 26px;
    position: absolute;
    top: 43px;
    right: 26px;
    text-align: center;
    z-index: 999;
    font-size: 13px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.iframe-wrapper.show-modal #cross {
    opacity: 1;
    visibility: visible;
}

.post-type-wpvr_item:before {
    content: "";
    background: rgba(0, 0, 0, 0.54);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.post-type-wpvr_item.error-overlay2:before,
.post-type-wpvr_item.error-overlay:before {
    opacity: 1;
    visibility: visible;
}

#custom-ifram p {
    background-color: #fff;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
}

.custom-tooltip p {
    background-color: #fff;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px;
    width: 500px;
    font-size: 16px;
    line-height: 26px;
}

#custom-ifram img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#custom-ifram iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.custom-tooltip span img {
    height: 220px;
    width: 400px;
}

.rex-add-coordinates ul li {
    display: inline-block;
    text-align: center !important;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 0;
}

.rex-add-coordinates ul li #panodata {
    margin-top: 0!important;
    font-size: 13px;
}

.rex-add-coordinates ul li.add-pitch {
    margin-bottom: 0;
    width: 20px;
    height: 20px;
    background: #222;
    color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    margin-left: 6px;
    position: relative;
}

.rex-hide-coordinates {
    display: none !important;
}

.toppitch {
    font-size: 11px;
    vertical-align: middle;
}

.rex-add-coordinates ul li.add-pitch .rex-tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: auto;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 50%;
    padding: 6px 12px;
    white-space: nowrap;
    font-size: 11px;
    margin-top: -16px;
    letter-spacing: 0.5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rex-add-coordinates ul li.add-pitch .rex-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

.rex-add-coordinates ul li.add-pitch:hover .rex-tooltiptext {
    visibility: visible;
    margin-top: -18px;
    opacity: 1;
}

@media (max-width: 1199px) {
    .pnlm-container {
        width: 100%!important;
    }
    /* div.custom-tooltip span {
        width: 420px!important;
    } */
    .custom-tooltip p {
        width: 420px;
    }
    .custom-tooltip span img {
        height: 230px;
        width: 420px;
    }
}

@media (max-width: 991px) {
    /* div.custom-tooltip span {
        width: 540px!important;
    } */
    .custom-tooltip p {
        width: 530px;
    }
    .custom-tooltip span img {
        height: 310px;
        width: 540px;
    }
}

@media (max-width: 575px) {
    .pano-wrap .cross {
        top: 2px;
        right: 1px;
    }
}


/*------------------------------panolens layout style-----------------------------*/

.post-type-wpvr_item #poststuff #post-body {
    margin-right: 0;
    display: flex;
    flex-flow: row wrap;
}

.post-type-wpvr_item #post-body-content {
    width: 100%;
    min-width: 463px;
    float: none;
}

.postbox-container {
    float: none;
}

.post-type-wpvr_item #post-body #postbox-container-1 {
    float: none;
    margin-right: 0;
    width: 650px;
    order: 2;
}

.post-type-wpvr_item #post-body #postbox-container-1 .iframe-wrapper {
    max-width: 625px;
}

.post-type-wpvr_item #post-body #postbox-container-1 #side-sortables {
    width: 100%;
}

.post-type-wpvr_item #post-body #postbox-container-2 {
    order: 1;
    width: calc(100% - 670px);
    margin-right: 20px;
}


/*------------------------------panolens tab style-----------------------------*/

.pano-setup * {
    box-sizing: border-box;
}


/*-----------switcher style------- */

.wpvr-switcher {
    position: relative;
    top: 2px;
}

.wpvr-switcher input[type="checkbox"] {
    display: none;
}

.wpvr-switcher label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    border-radius: 80px;
    user-select: none;
    width: 44px;
    height: 24px;
    border-radius: 14px;
    background-color: #f7f7fa;
    border: 1px solid #e6e6ec;
    transition: all 0.3s ease;
}

.wpvr-switcher label:before {
    display: none;
}

.wpvr-switcher label:after {
    content: ""!important;
    width: 16px!important;
    height: 16px!important;
    border-radius: 9px!important;
    filter: drop-shadow(0px 2px 1px rgba(193, 193, 218, 0.45));
    background-color: #fff;
    border-radius: 100%!important;
    position: absolute!important;
    top: 3px!important;
    left: 4px!important;
    transition: all 0.3s ease!important;
    transform: none!important;
    margin: 0!important;
}

.wpvr-switcher input[type="checkbox"]:checked+label {
    border-color: #201cfe;
    background-color: #201cfe;
}

.wpvr-switcher input[type="checkbox"]:checked+label:after {
    margin-left: 19px!important;
    filter: none;
}

.wpvr-switcher input:disabled+label {
    cursor: not-allowed;
}


/*-----------/switcher style------- */

/*-----------switcher-v2 style------- */
.wpvr-switcher-v2 {
    margin-bottom: 0!important;
}
.wpvr-switcher-v2 input[type="checkbox"] {
    display: none;
}
.wpvr-switcher-v2 .switcher-box {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    border-radius: 80px;
    user-select: none;
    /* width: 36px;
    height: 18px; */
    width: 44px;
    height: 24px;
    border-radius: 14px;
    background-color: #f7f7fa;
    border: 1px solid #e6e6ec;
    transition: all 0.3s ease;
}
.wpvr-switcher-v2 .switcher-box:after {
    content: "";
    /* width: 12px;
    height: 12px; */
    width: 16px;
    height: 16px;
    filter: drop-shadow(0px 2px 1px rgba(193, 193, 218, 0.45));
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: all 0.3s ease;
    transform: none;
    margin: 0;
}
.wpvr-switcher-v2 input[type="checkbox"]:checked + .switcher-box {
    border-color: #201cfe;
    background-color: #201cfe;
}
.wpvr-switcher-v2 input[type="checkbox"]:checked + .switcher-box:after {
    margin-left: 19px!important;
    filter: none;
}
.wpvr-switcher-v2 input:disabled + .switcher-box {
    cursor: not-allowed;
}
/*-----------end switcher-v2 style------- */

.pano-setup {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    direction: ltr;
}

.rex-pano-tabs {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -12px;
}

.rex-pano-tabs .rex-pano-tab-nav {
    text-align: left;
    width: 120px;
    padding: 0;
}

.rex-pano-tabs .rex-pano-tab-nav ul {
    margin: 0;
}

.rex-pano-tabs .rex-pano-tab-nav li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #e7e7ec;
}

.rex-pano-tabs .rex-pano-tab-nav li:last-child {
    border-bottom: none;
}

.rex-pano-tabs .rex-pano-tab-nav li.logo {
    height: 110px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.rex-pano-tabs .rex-pano-tab-nav li span {
    text-transform: uppercase;
    color: #a8a7be;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 124px;
    padding: 0 20px;
    position: relative;
    transition: all 0.3s ease;
}

.rex-pano-tabs .rex-pano-tab-nav li span img {
    margin-bottom: 10px;
}

.rex-pano-tabs .rex-pano-tab-nav li span img.hover {
    display: none;
}

.rex-pano-tabs .rex-pano-tab-nav li:hover>span,
.rex-pano-tabs .rex-pano-tab-nav li.active>span {
    color: #fff;
    background: #004efa;
}

.rex-pano-tabs .rex-pano-tab-nav li:hover span img.hover,
.rex-pano-tabs .rex-pano-tab-nav li.active span img.hover {
    display: block;
}

.rex-pano-tabs .rex-pano-tab-nav li:hover span img.regular,
.rex-pano-tabs .rex-pano-tab-nav li.active span img.regular {
    display: none;
}

.rex-pano-sub-tabs .rex-pano-tab,
.rex-pano-tabs .rex-pano-tab {
    display: none;
}

.rex-pano-sub-tabs .rex-pano-tab.active,
.rex-pano-tabs .rex-pano-tab.active {
    display: block !important;
}

.rex-pano-sub-tabs .rex-pano-tab.clearfix,
.rex-pano-tabs .rex-pano-tab.clearfix {
    overflow: initial;
}

.pano-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    max-width: 605px;
    width: 100%;
}



/*--------------tab content style----------------*/

.rex-pano-tab-content {
    background: #f6f6f8;
    width: calc(100% - 120px);
    position: relative;
    align-self: stretch;
    border-radius: 20px;
}

.rex-pano-tab-content .title {
    font-size: 18px;
    font-weight: 600;
    color: #4775f6;
    margin: 0 0 40px 0;
    text-transform: capitalize;
    background: #f9fbff;
    border: 1px solid #ecf1fe;
    padding: 15px 30px;
    width: 100%;
}

.rex-pano-tab-content .single-hotspot .title span {
    color: #252525;
}

.rex-pano-tab-content .title .scene-num,
.rex-pano-tab-content .single-hotspot .title .hotspot-num {
    color: #4775f6;
}

.rex-pano-tab-content .title i {
    margin-right: 10px;
}

.rex-pano-tab-content .rex-pano-tab.streetview,
.rex-pano-tab-content .rex-pano-tab.background-tour,
.rex-pano-tab-content .rex-pano-tab.video,
.rex-pano-tab-content .rex-pano-tab.export,
.rex-pano-tab-content .rex-pano-tab.general {
    padding: 20px;
}

.pro-tag {
    display: block;
    height: 19px;
    border-radius: 3px;
    filter: drop-shadow(0px 5px 4px rgba(105, 115, 137, 0.2));
    background-color: #004efa;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 6px;
    text-transform: capitalize;
    position: absolute;
    right: -8px;
    top: -11px;
}


/* ----general inner tab style----- */

.rex-pano-tab-content .general .general-inner-tab .inner-nav {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li {
    margin-right: 15px;
    margin-bottom: 0;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li:last-child {
    margin-right: 0;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li>span {
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgba(223, 223, 249, 0.42));
    background-color: #ffffff;
    font-size: 14px;
    color: #a8a7be;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 15px;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li>span img {
    margin-right: 10px;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li>span img.hover {
    display: none;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li.active>span img.hover {
    display: block;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li.active>span img.regular {
    display: none;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li.active>span {
    background: #004efa;
    color: #fff;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li.active .pro-tag {
    color: #004efa;
    background: #fff;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li.vr-documentation {
    margin-left: auto;
}

.rex-pano-tab-content .general .general-inner-tab .inner-nav li.vr-documentation a {
    border-radius: 5px;
    background-color: rgb(32, 28, 254);
    height: 39px;
    line-height: 39px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    box-shadow: none;
    margin-top: auto;
    transition: all 0.3s ease;
    text-decoration: none;
}


/* ---inner tab content style---- */

.rex-pano-tab-content .general .inner-nav-content .inner-single-content {
    display: none;
}

.rex-pano-tab-content .general .inner-nav-content .inner-single-content.active {
    display: block;
}

.rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #e4e4e4;
}

.rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .left {
    width: 50%;
    padding-right: 15px;
    border-right: 1px solid #e4e4e4;
}

.rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .right {
    width: 50%;
    padding-left: 15px;
}


/* ------img preview------- */

.rex-pano-tab-content .general .single-settings.preview-setting {
    display: block;
    margin-bottom: 20px;
}

.rex-pano-tab-content .general .single-settings.preview-setting .hints {
    display: block;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    padding: 0;
    width: 100%;
    margin-top: 4px;
    color: #aaa;
}

.rex-pano-tab-content .general .single-settings.preview-setting>span {
    margin-bottom: 10px;
}

.rex-pano-tab-content .general .single-settings.preview-setting .preview-attachment-url,
.rex-pano-tab-content .general .single-settings.preview-setting .preview-upload {
    display: none;
}

.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame label span {
    font-size: 14px;
    color: #363b4e;
    font-weight: 400;
    margin-top: 10px;
}

.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame label img {
    max-width: 100%;
}

.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame.img-uploaded span,
.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame.img-uploaded img {
    display: none;
}


/* -----remove attachment style----- */

.rex-pano-tab-content .general .single-settings.preview-setting .remove-attachment {
    position: absolute;
    right: 6px;
    top: 6px;
    background: #fff;
    padding: 5px;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    line-height: normal;
    border-radius: 100%;
    cursor: pointer;
    display: none;
}

.rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame.img-uploaded span.remove-attachment {
    display: block;
}

.rex-pano-tab-content .general .single-settings.preview-setting .remove-attachment:before,
.rex-pano-tab-content .general .single-settings.preview-setting .remove-attachment:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: calc(100% - 14px);
    background: #201cfe;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
}

.rex-pano-tab-content .general .single-settings.preview-setting .remove-attachment:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* ---autoload--- */

.rex-pano-tab-content .background-tour .single-settings.inline-style,
.rex-pano-tab-content .general .inner-nav-content .single-settings:not(.preview-setting) {
    width: 100%;
    padding: 14px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.preview-img-message input {
    padding: 2px 7px;
    height: 33px;
}

.rex-pano-tab-content .background-tour .single-settings.inline-style .wpvr-switcher,
.rex-pano-tab-content .general .inner-nav-content .single-settings .wpvr-switcher {
    min-width: auto;
    padding-right: 0;
    margin-left: auto;
    position: relative;
}


/* ---scene-fade-duration--- */

.rex-pano-tab-content .general .inner-nav-content .single-settings.scene-fade-duration input {
    width: 70px;
    padding: 2px 7px;
    height: 33px;
    margin-left: auto;
}


/* ---autorotationdata--- */

.rex-pano-tab-content .general .inner-nav-content .single-settings.autorotationdata input {
    width: 70px;
    padding: 2px 7px;
    height: 33px;
    margin-left: auto;
}

.rex-pano-tab-content .general .inner-nav-content .autorotationdata-wrapper {
    width: 100%;
    padding: 25px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
    margin-top: -18px;
    margin-bottom: 20px;
}

.rex-pano-tab-content .general .inner-nav-content .autorotationdata-wrapper .single-settings {
    padding: 0;
    border-radius: 0;
}

.rex-pano-tab-content .general .inner-nav-content .gyro-orientation {
    display: none;
    margin-bottom: 20px;
}


/* ---icon control settings--- */

.rex-pano-tab-content .general .control-settings-content.inner-single-content .single-settings>span {
    min-width: 106px;
    padding-right: 10px;
}

.rex-pano-tab-content .general .control-settings-content.inner-single-content .single-settings .wpvr-switcher {
    margin-left: 0;
    min-width: auto!important;
    padding-right: 0!important;
}

.rex-pano-tab-content .general .inner-nav-content .inner-single-content .color-icon {
    margin-left: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 32px;
    border-right: 1px solid #ececf5;
    padding-right: 15px;
    margin-right: 15px;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .icons {
    position: relative;
    top: 6px;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .icons-selector .selector {
    border: 1px solid #e5e8f3;
    height: 32px;
    background-color: #f7f7fa;
    border-radius: 3px;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .icons-selector .selected-icon {
    width: 40px;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .icons-selector .selected-icon i {
    line-height: 30px;
    font-size: 16px;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .icons-selector .selector-button {
    width: 32px;
    border-left: 1px solid #e5e8f3;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .icons-selector .selector-button i {
    line-height: 30px;
    text-align: center;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .colors {
    margin-right: 13px;
    position: relative;
    top: 1px;
}

.rex-pano-tab-content .general .inner-nav-content .color-icon .colors input[type="color"] {
    border: none;
    padding: 0;
    box-shadow: none;
    margin: 0;
    height: 36px;
    display: block;
    width: 36px;
}

.rex-pano-tab-content .general .inner-nav-content .icons-selector .selector-popup {
    width: 280px;
}


/* ---advanced settings--- */

.rex-pano-tab-content .general .advanced-settings-content .single-settings .wpvr-switcher {
    margin-left: auto;
}

.rex-pano-tab-content .general .advanced-settings-content .single-settings .field-tooltip {
    top: 4px;
}

.rex-pano-tab-content .general .advanced-settings-content .gallery_title {
    display: none;
    margin-bottom: 20px;
}


/* -----audio setting style----- */

.rex-pano-tab-content .general .inner-nav-content .inner-single-content .bg-music-content {
    width: 100%;
    padding: 25px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: -18px;
    margin-bottom: 20px;
}

.rex-pano-tab-content .general .inner-nav-content .bg-music-content .single-settings {
    padding: 0;
    border-radius: 0;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.audio-setting {
    display: block;
    position: relative;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.audio-setting>span {
    margin-bottom: 5px;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.audio-setting input[type="text"] {
    padding: 6px 60px 6px 14px;
    max-width: 100%;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.audio-setting .audio-upload {
    padding: 9px 15px;
    background: #004efa;
    border: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.audio-setting .audio-upload:focus {
    outline: none;
}
/* -----------logo upload style-------- */


/*----company-info style-----*/
.rex-pano-tab-content .general .inner-nav-content .company-info-wrapper {
    width: 100%;
    padding: 25px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: -18px;
    margin-bottom: 20px;
}

.rex-pano-tab-content .general .inner-nav-content .company-info-wrapper .single-settings {
    padding: 0;
    border-radius: 0;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area {
    flex-wrap: wrap;
    margin-bottom: 2px;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-title {
    width: calc(100% - 125px);
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .cp-logo-upload {
    display: none;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .cp-logo-attachment-url {
    display: none;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame {
    width: 120px;
    height: 90px;
    border: 1px dashed #dae3fd;
    border-radius: 5px;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame img {
    max-width: 100px;
    max-height: 70px;
    display: block;
    margin: 0 auto;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame img.placeholder-icon {
    width: 32px;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame.img-uploaded img.placeholder-icon {
    display: none;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .hints {
    display: block;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    padding: 0;
    width: 100%;
    margin-top: 2px;
    color: #aaa;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-details {
    display: block;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-details span {
    margin-bottom: 7px;
    padding: 0;
    min-width: auto;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-details textarea {
    border: 1px solid #dae3fd;
    width: 100%;
    box-shadow: none;
}

.rex-pano-tab-content .general .inner-nav-content .single-settings.cp-details textarea:focus {
    outline: none;
}


/* --------Zoom Preferences-------- */
.rex-pano-tab-content .general .inner-nav-content .single-settings.czscenedata input {
    width: 70px;
    padding: 2px 7px;
    height: 33px;
    margin-left: auto;
}

/* --------------end general inner tab style--------------- */

.rex-pano-tab-content .general .inner-nav-content .wpvr-pro {
    display: block;
}

.rex-pano-tab-content .general .inner-nav-content .wpvr-pro:focus {
    outline: none;
    box-shadow: none;
}

.rex-pano-tab-content .general .inner-nav-content .wpvr-pro .pro-tag {
    right: 55px;
    top: 2px;
    background-color: #fff;
    color: #004efa;
}


/* -------shortcode area style-------- */

.wpvr-use-shortcode {
    background: #fff;
    border-radius: 5px;
    margin-top: 0px;
    width: 100%;
}

.wpvr-use-shortcode .area-title {
    width: 100%;
    margin: 0;
    font-size: 17px;
    line-height: normal;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    font-weight: 600;
}

.wpvr-use-shortcode .shortcode-wrapper {
    /* padding: 0 20px 20px 20px; */
    display: flex;
    flex-flow: row wrap;
}

.wpvr-use-shortcode .wpvr-shortcode-wrapper {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-flow: row wrap;
}

.wpvr-use-shortcode .single-shortcode {
    width: 100%;
    flex: 1;
    background: #ffffff;
    padding: 0px 0px 5px 0px;
    border-radius: 5px;
    margin-top: 20px;
}

.wpvr-use-shortcode .wpvr-single-shortcode {
    width: 100%;
    flex: 1;
    background: #f6f6f6;
    padding: 12px 15px 15px 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.wpvr-use-shortcode .shortcode-wrapper.col2 .single-shortcode {
    width: calc(50% - 10px);
    flex: 1;
    margin-right: 10px;
}

.wpvr-use-shortcode .shortcode-wrapper.col2 .single-shortcode.gutenberg {
    display: block;
    margin-right: 0;
    margin-left: 10px;
}

.wpvr-use-shortcode .shortcode-title {
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.wpvr-use-shortcode .single-shortcode .field-wapper span {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 10px;
}

.wpvr-use-shortcode .single-shortcode .shortcode-field {
    background: #f6f6f8;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    border-radius: 5px;
    float: right;
    /* margin-top: 10px;
    min-width: 183px; */
}

.wpvr-use-shortcode .wpvr-single-shortcode .wpvr-shortcode-field {
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 183px;
}

.wpvr-use-shortcode .single-shortcode .shortcode-field p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    word-break: break-all;
}

.wpvr-use-shortcode .wpvr-single-shortcode .wpvr-shortcode-field p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    word-break: break-all;
}

.wpvr-use-shortcode .single-shortcode .shortcode-field .wpvr-copy-shortcode {
    background: #201cfe;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.wpvr-use-shortcode .single-shortcode .shortcode-field .wpvr-copy-shortcode img {
    width: 22px;
}

.wpvr-use-shortcode .single-shortcode .wpvr-copied-notice {
    display: inline-block!important;
    margin-left: 10px;
}


/*----checkbox style----*/

.rex-pano-tab .radio-btn {
    position: relative;
    margin: 0;
}

.rex-pano-tab .styled-radio {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.rex-pano-tab .styled-radio+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #555555;
    font-size: 15px;
    margin-bottom: 3px;
    letter-spacing: 0;
    width: 30px;
    margin: 0 auto;
}

.rex-pano-tab .styled-radio+label:before {
    border: 1px solid #ddd;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 18px;
    margin-right: 6px;
    vertical-align: text-top;
    width: 18px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rex-pano-tab .styled-radio:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.rex-pano-tab .styled-radio:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.rex-pano-tab .styled-radio:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.rex-pano-tab .styled-radio:checked+label:before {
    border-color: #4775f6;
}

.rex-pano-tab .styled-radio+label:after {
    content: "";
    color: #000;
    left: 5px;
    position: absolute;
    top: 5px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    width: 10px;
    height: 10px;
    background: #4775f6;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
    ;
}

.rex-pano-tab .styled-radio:checked+label:after {
    opacity: 1;
    visibility: visible;
}


/*--------end checkbox style-------*/

.rex-pano-tab .single-settings {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.rex-pano-tab .single-settings:last-child {
    margin-bottom: 0px;
}

.rex-pano-tab .single-settings>span {
    min-width: 170px;
    font-size: 16px;
    display: block;
    color: #494b51;
    font-weight: 500;
}

.rex-pano-tab.general .single-settings>span {
    min-width: 200px;
    padding-right: 20px;
}

.general .auto-rotation-control-wrapper .single-settings>span {
    min-width: 224px;
}

.rex-pano-tab .single-settings ul {
    margin: 0;
}

.rex-pano-tab .single-settings ul li {
    display: inline-block;
    margin-right: 20px;
}

.rex-pano-tab input[type="password"],
.rex-pano-tab input[type="email"],
.rex-pano-tab input[type="number"],
.rex-pano-tab input[type="text"] {
    border: 1px solid #dae3fd;
    box-shadow: none;
    width: 100%;
    max-width: 400px;
    height: 46px;
    padding: 10px 20px;
    font-size: 16px;
    color: #454545;
    border-radius: 3px;
}

.single-scene .scene-content .scene-setting {
    max-width: 440px;
}


/*------------input field tooltip-----------*/

.hotspot-icon input {
    width: 20% !important;
}

.rex-pano-tab.streetview .single-settings .field-tooltip,
.rex-pano-tab.backgroundTour .single-settings .field-tooltip,
.rex-pano-tab.general .single-settings .field-tooltip {
    position: relative;
    top: 2px;
    padding-left: 10px;
}

.single-scene .scene-setting .field-tooltip {
    position: absolute;
    right: -25px;
    bottom: 13px;
}

.hotspot-setup .hotspot-setting.custom-icon .field-tooltip {
    position: absolute;
    left: 112px;
    bottom: 13px;
}

.single-scene .scene-content .scene-setting.scene-upload-wrapper .field-tooltip {
    right: initial;
    left: 112px;
    bottom: inherit;
    top: 5px;
}

.rex-pano-tab.streetview .single-settings .field-tooltip i,
.rex-pano-tab.backgroundTour .single-settings .field-tooltip i,
.single-scene .scene-setting .field-tooltip i,
.hotspot-setup .hotspot-setting.custom-icon .field-tooltip i,
.rex-pano-tab.general .single-settings .field-tooltip i {
    font-size: 20px;
    cursor: help;
}

.rex-pano-tab.streetview .single-settings .field-tooltip span,
.rex-pano-tab.backgroundTour .single-settings .field-tooltip span,
.single-scene .scene-setting .field-tooltip span,
.hotspot-setup .hotspot-setting.custom-icon .field-tooltip span,
.rex-pano-tab.general .single-settings .field-tooltip span {
    position: absolute;
    top: 50%;
    font-weight: 300;
    background: #444;
    color: #fff;
    display: inline-block;
    min-width: 240px;
    max-width: 280px;
    padding: 7px 8px;
    font-size: 14px;
    left: 40px;
    line-height: 20px;
    border-radius: 3px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rex-pano-tab.streetview .single-settings .field-tooltip span:before,
.rex-pano-tab.backgroundTour .single-settings .field-tooltip span:before,
.single-scene .scene-setting .field-tooltip span:before,
.hotspot-setup .hotspot-setting.custom-icon .field-tooltip span:before,
.rex-pano-tab.general .single-settings .field-tooltip span:before {
    content: "";
    position: absolute;
    left: -9px;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 9px solid #444;
    border-bottom: 6px solid transparent;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}



.rex-pano-tab.streetview .single-settings .field-tooltip:hover span,
.rex-pano-tab.backgroundTour .single-settings .field-tooltip:hover span,
.single-scene .scene-setting .field-tooltip:hover span,
.hotspot-setup .hotspot-setting.custom-icon .field-tooltip:hover span,
.rex-pano-tab.general .single-settings .field-tooltip:hover span {
    opacity: 1;
    visibility: visible;
}



.rex-pano-tab-content .general .inner-nav-content .right .field-tooltip span {
    bottom: calc(100% + 13px);
    top: initial;
    left: initial;
    right: -20px;
    transform: translateY(0);
}

.rex-pano-tab-content .general .inner-nav-content .right .field-tooltip span:before {
    left: inherit;
    right: 24px;
    top: initial;
    bottom: -10px;
    transform: translateY(0) rotate(-92deg);
}


/*------------sub tab style----------*/

.rex-pano-sub-tabs .rex-pano-tab-nav {
    width: auto;
    padding: 32px 30px 21px;
    border-bottom: 1px solid #c3d3fc;
}

.rex-pano-sub-tabs .rex-pano-tab-nav ul li {
    display: inline-block;
    margin-right: 17px;
    margin-bottom: 10px;
    width: auto;
}

.rex-pano-sub-tabs .rex-pano-tab-nav ul li:last-child {
    margin-right: 0;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li span {
    text-transform: capitalize;
    color: #494b51;
    font-size: 16px;
    border: 1px solid #c3d3fc;
    height: 45px;
    margin-bottom: 0;
    line-height: 45px;
    padding: 0 30px;
    transition: all 0.25s ease-in-out;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li span:after {
    right: 50%;
    top: inherit;
    bottom: -6px;
    width: 14px;
    height: 14px;
    -webkit-transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    -o-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
    transition: all 0.2s ease-in-out 0.1s;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li.add>span,
.rex-pano-sub-tabs .rex-pano-tab-nav li:not(.active):hover>span {
    border-color: #4775f6;
    box-shadow: none;
    color: #4775f6;
    background: transparent;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li span .delete {
    color: #4775f6;
    border: 1px solid #4775f6;
    font-size: 12px;
    display: block;
    position: absolute;
    top: -12px;
    right: -8px;
    background: #fff;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li span .delete:focus {
    box-shadow: none;
    outline: none;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li span .delete i {
    font-size: 14px;
    margin: 0;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li:hover span .delete,
.rex-pano-sub-tabs .rex-pano-tab-nav li.active span .delete {
    visibility: visible;
    opacity: 1;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li.add span:after {
    display: none;
}

.rex-pano-sub-tabs .rex-pano-tab-nav li.add span>i {
    font-size: 17px;
    margin-right: 0;
}


/*-----------sub tab content style-----------*/

.rex-pano-sub-tabs .rex-pano-tab-content {
    width: 100%;
    padding: 30px 40px;
    border-left: none;
    position: relative;
}

.single-hotspot .hotspot-setting,
.single-scene .scene-setting {
    margin-bottom: 21px;
    position: relative;
}

.single-hotspot .hotspot-setting .change-icon {
    position: absolute;
    bottom: 14px;
    right: 50px;
    font-size: 18px;
}

.single-hotspot .hotspot-setting .change-icon .custom-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.pnlm-hotspot-base.icon1,
.single-hotspot .hotspot-setting .change-icon .icon1 {
    background: url(../icon/audio.png) no-repeat center center / 100% 100%;
}

.pnlm-hotspot-base.icon2,
.single-hotspot .hotspot-setting .change-icon .icon2 {
    background: url(../icon/video.png) no-repeat center center / 100% 100%;
}

.pnlm-hotspot-base.icon3,
.single-hotspot .hotspot-setting .change-icon .icon3 {
    background: url(../icon/gallery.png) no-repeat center center / 100% 100%;
}

.pnlm-hotspot-base.icon4,
.single-hotspot .hotspot-setting .change-icon .icon4 {
    background: url(../icon/info.png) no-repeat center center / 100% 100%;
}

.pnlm-hotspot-base.icon5,
.single-hotspot .hotspot-setting .change-icon .icon5 {
    background: url(../icon/link.png) no-repeat center center / 100% 100%;
}

.single-hotspot .hotspot-setting label,
.single-scene .scene-setting label {
    color: #494b51;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.rex-pano-tab .streetview-setting .form-group input,
.rex-pano-tab .preview-setting input.preview-upload,
.rex-pano-tab .video-setting input.video-upload,
.single-hotspot .hotspot-setting select,
.single-hotspot .hotspot-setting textarea,
.single-hotspot .hotspot-setting input,
.single-scene .scene-setting input {
    border: 1px solid #dae3fd;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    height: 46px;
    padding: 10px 20px;
    font-size: 16px;
    color: #454545;
    border-radius: 3px;
}

.single-hotspot .hotspot-setting select {
    padding: 0px 20px;
}

.rex-pano-tab .streetview-setting .form-group input {
    max-width: 100%;
}

.single-scene .scene-setting .form-group img {
    max-width: 400px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.rex-pano-tab .video-setting input.video-upload,
.single-scene .scene-setting input.scene-upload {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background: #4775f6;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rex-pano-tab .video-setting .single-settings input.video-upload:hover,
.single-scene .scene-setting input.scene-upload:hover {
    background: #3869f3;
}

.rex-pano-tab .streetview-setting .form-group input:focus,
.single-scene .scene-setting input.scene-upload:focus {
    box-shadow: none;
    outline: inherit;
}

.rex-pano-tab .video-setting .single-settings {
    align-items: flex-start;
}

.rex-pano-tab .video-setting input.video-upload {
    max-width: 160px;
    margin-top: 20px;
}

.rex-pano-tab .video-setting:before,
.rex-pano-tab .video-setting:after {
    content: "";
    display: table;
    clear: both;
}


/*--------------------hotspot style-------------------*/

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.hotspot-setup .rex-pano-tab-nav {
    padding: 20px 0px 30px;
}

.hotspot-setup .rex-pano-tab-content {
    padding: 30px 0px;
}

.hotspot-setup .single-hotspot>.wrapper,
.hotspot-setup .single-hotspot .hotspot-type {
    float: left;
    width: 50%;
}

.hotspot-setup .single-hotspot>.wrapper {
    padding-right: 30px;
}

.single-hotspot .hotspot-setting textarea {
    height: auto;
    resize: none;
    min-height: 110px;
}

.single-hotspot .hotspot-setting select,
.single-hotspot .hotspot-setting textarea,
.single-hotspot .hotspot-setting input {
    max-width: 100%;
}

.hotspot-setup .hotspot-setting.custom-icon select {
    max-width: calc(100% - 30px);
}

.single-hotspot .hotspot-type .hotspot-scene,
.single-hotspot .hotspot-type .hotspot-hover,
.single-hotspot .hotspot-type .hotspot-content,
.single-hotspot .hotspot-type .hotspot-url,
.single-hotspot .hotspot-type select {
    margin-bottom: 21px;
}

button.delete-hotspot,
button.delete-scene {
    position: absolute;
    top: 36px;
    right: 46px;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    border: 1px solid #c3d3fc;
    height: 38px;
    margin-bottom: 0;
    line-height: 38px;
    padding: 0 15px;
    transition: all 0.25s ease-in-out;
    background: #4775f6;
    cursor: pointer;
    border-radius: 5px;
}

button.delete-hotspot:hover,
button.delete-scene:hover {
    background: #3869f3;
}

button#panolenspreview:focus,
button.delete-hotspot:focus,
button.delete-scene:focus {
    outline: none;
}

button.delete-hotspot {
    right: 12px;
    top: 40px;
}
button.delete-scene {
    top: 40px;
    right: 52px;
}


.active_scene_id p {
    margin: 0;
}


/* ---------background tour style---------- */
.rex-pano-tab-content .background-tour .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #e4e4e4;
}
.rex-pano-tab-content .background-tour .background-tour-left {
    width: 50%;
    padding-right: 15px;
    /* border-right: 1px solid #e4e4e4; */
}
.rex-pano-tab-content .background-tour .background-tour-right {
    width: 50%;
    padding-left: 15px;
}
.rex-pano-tab-content .background-tour .single-settings:not(.inline-style) {
    display: block;
    margin-bottom: 20px;
}
.rex-pano-tab-content .background-tour .single-settings:not(.inline-style) > span {
    margin-bottom: 6px;
}
.rex-pano-tab-content .background-tour .single-settings:not(.inline-style) > input {
    max-width: 100%;
    margin: 0;
}


/* -------product------- */
.single-hotspot .hotspot-products {
    margin-bottom: 20px;
}

.single-hotspot .hotspot-products .select2-container--default {
    width: 100%!important;
}

.single-hotspot .hotspot-products .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #dae3fd;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    height: 46px;
    padding: 10px 12px;
    font-size: 16px;
    color: #454545;
    border-radius: 3px;
}

.single-hotspot .hotspot-products .select2-container--default .select2-selection--single:focus {
    outline: none;
}

.select2-container--default .select2-dropdown {
    border: 1px solid #dae3fd!important;
    margin-top: -1px;
    box-shadow: 0 7px 10px rgba(218, 227, 253, 0.3);
    padding: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    line-height: normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 5px;
}

.select2-container--default .select2-dropdown .select2-search--dropdown {
    display: block;
    padding: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #dae3fd;
    padding: 4px 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
    box-shadow: none;
}

.select2-container--default .select2-results .select2-results__option {
    padding: 0;
    margin: 4px 0 0 4px;
}


/*--------preview-btn-area---------*/

.preview-btn-wrapper {
    padding: 0px 30px;
}

.preview-btn-area {
    padding: 30px 0px;
    border-top: 1px solid #e4eafe;
}

.streetview-setting #streetviewpreview,
.video-setting button#videopreview,
.preview-btn-area #panolenspreview {
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    border: 1px solid #c3d3fc;
    height: 45px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 45px;
    padding: 0 30px;
    transition: all 0.25s ease-in-out;
    background: #4775f6;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 7px 25px 0px rgba(56, 84, 163, 0.2);
    width: 120px;
    margin-left: auto;
    display: block;
}

.wpvr_preview_button {
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    border: 1px solid #c3d3fc;
    height: 45px;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
    background: #4775f6;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 7px 25px 0px rgba(56, 84, 163, 0.2);
    line-height: 45px;
    width: 120px;
    padding: 0 30px;
}

.video-setting button#videopreview:hover,
.preview-btn-area #panolenspreview:hover {
    background: #3869f3;
    box-shadow: none;
}

#error_occured {
    display: none;
    min-height: 15px;
    position: absolute;
    top: 50%;
    right: 50%;
    max-width: 605px;
    width: 100%;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    z-index: 2;
}

.pano-error-wrapper {
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    border-left: 5px solid #FAAC14;
}

.wpvr-delete-alert-wrapper .pano-error-wrapper {
    max-width: 605px;
}

.pano-default-warning .pano-error-wrapper {
    border-left-color: #004EFA;
}

.pano-error-color .pano-error-wrapper {
    border-left-color: #F13637;
}
.pano-error-color .pano-error-wrapper .icon rect,
.pano-error-color .pano-error-wrapper .icon path {
    fill: #F13637;
}
.pano-error-wrapper .pano-error-body {
    position: relative;
    padding: 40px;
    text-align: center;
}
.pano-error-wrapper .pano-error-body .cross {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.pano-error-wrapper .pano-error-body .icon.pano-warning {
    display: block;
    margin-bottom: 15px;
}

.pano-error-wrapper .pano-error-body .pano-error-message .pano-error-title {
    padding: 0;
    font-weight: 700;
    color: #39393F;
    font-size: 18px;
    max-width: 370px;
    margin: 0 auto 3px;
    display: block;
}

.pano-error-wrapper .pano-error-body .pano-error-message p {
    padding: 0;
    color: #868693;
    font-size: 18px;
    margin: 0;
}

.pano-error-wrapper .pano-error-footer {
    background: #F6F6F8;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #E6E6EF;
    padding: 14px 14px 15px;
}
.pano-error-wrapper .pano-error-footer ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.pano-error-wrapper .pano-error-footer ul li {
    margin: 0 10px;
    padding: 0;
}
.pano-error-wrapper .pano-error-footer ul li a,
.pano-error-wrapper .pano-error-footer ul li button {
    background: #004EFA;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
}

.wpvr-delete-alert-wrapper .pano-error-wrapper .pano-error-footer ul li a,
.wpvr-delete-alert-wrapper .pano-error-wrapper .pano-error-footer ul li button {
    font-weight: 500;
    text-transform: capitalize;
}
.wpvr-delete-alert-wrapper .pano-error-wrapper .pano-error-footer ul li button.yes {
    background-color: #dedede;
    color: #333;
}

.pano-error-wrapper .pano-error-footer ul li a {
    text-decoration: none;
    text-transform: none;
}

.hotspot-setup.rex-pano-sub-tabs {
    display: none;
}


/* ----------------- */

.single-scene .scene-content {
    display: flex;
    flex-flow: row wrap;
}

.single-scene .scene-content .scene-left {
    width: 50%;
    padding-right: 15px;
}

.single-scene .scene-content .scene-right {
    width: 50%;
    padding-left: 15px;
}


/* ---------woocomerce product hotspot style--------- */

.wpvr-product-container {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}

.wpvr-product-container .wpvr-pr-left-block {
    width: 50%;
    box-sizing: border-box;
}

.wpvr-product-container .wpvr-pr-left-block .woocommerce-product-gallery__image img {
    margin: 0;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.wpvr-product-container .wpvr-pr-right-block {
    width: 50%;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
}

.wpvr-product-container .wpvr-pr-right-block a {
    text-decoration: none!important;
    display: inline-block;
}

.wpvr-product-container .wpvr-pr-right-block a h2 {
    line-height: 1.4!important;
    margin: 0 0 15px 0!important;
    text-align: left;
    padding: 0!important;
    font-size: 23px!important;
    color: #201cfe;
}

.wpvr-product-container .wpvr-pr-right-block a:focus {
    outline: none;
    box-shadow: none;
}

.wpvr-product-container .wpvr-pr-right-block a:hover h2 {
    text-decoration: underline;
}

.wpvr-product-container .wpvr-pr-right-block a h2:before {
    display: none;
}

.wpvr-product-container .wpvr-pr-right-block .wpvr-cart-wrap {
    display: block;
}

.wpvr-product-container .wpvr-pr-right-block .add_to_cart_inline {
    border: none!important;
    padding: 0!important;
    text-align: left!important;
    border-radius: 0!important;
}

.wpvr-product-container .wpvr-pr-right-block .add_to_cart_inline .amount {
    display: inline-block;
    margin-bottom: 7px;
}

.wpvr-product-container .wpvr-pr-right-block .add_to_cart_inline del .amount {
    text-decoration: line-through;
    opacity: 0.5;
}

.wpvr-product-container .wpvr-pr-right-block .add_to_cart_inline a.button {
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(32, 28, 254);
    color: #fff;
    display: inline-block;
    padding: 8px 10px;
    box-shadow: none;
    margin-top: auto;
    transition: all 0.3s ease;
    text-decoration: none;
    white-space: normal;
    line-height: normal;
    border-color: transparent;
}


/*-----------------responsive style------------------*/

@media (max-width: 1760px) and (min-width: 1701px) {
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .color-icon img {
        width: 96px;
    }
    .rex-pano-tab.general .single-settings>span {
        min-width: 182px;
    }
    .rex-pano-tab-content .general .control-settings-content.inner-single-content .single-settings>span {
        min-width: 102px;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .color-icon {
        padding-right: 0px;
        margin-right: 10px;
        border-right: none;
    }
    .rex-pano-tab-content .general .inner-nav-content .color-icon .colors {
        margin-right: 3px;
    }
}

@media (max-width: 1700px) {
    .rex-pano-tab-content {
        border-radius: 10px;
    }
    .rex-pano-tab-content .rex-pano-tab.streetview,
    .rex-pano-tab-content .rex-pano-tab.backgroundTour,
    .rex-pano-tab-content .rex-pano-tab.video,
    .rex-pano-tab-content .rex-pano-tab.export,
    .rex-pano-tab-content .rex-pano-tab.general {
        padding: 20px;
    }
    .post-type-wpvr_item #post-body #postbox-container-1 {
        width: 610px;
    }
    .post-type-wpvr_item #post-body #postbox-container-2 {
        width: calc(100% - 630px);
    }
    #custom-ifram {
        height: 278px;
    }
    .iframe-wrapper #cross {
        top: 47px;
        right: 20px;
    }
    .rex-pano-tab-content .general .general-inner-tab .inner-nav li>span {
        flex-flow: column;
        text-align: center;
    }
    .rex-pano-tab-content .general .general-inner-tab .inner-nav li>span img {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .rex-pano-tab-content .background-tour .content-wrapper,
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper {
        display: block;
    }

    .rex-pano-tab-content .background-tour .background-tour-left,
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .left {
        width: 100%;
        padding-right: 0;
        border-right: none;
        margin-bottom: 20px;
    }
    .rex-pano-tab-content .background-tour .background-tour-right,
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .right {
        width: 100%;
        padding-left: 0;
    }
    .rex-pano-tab-content .general .single-settings.preview-setting .img-upload-frame {
        height: 210px;
    }
    .rex-pano-tab.general .control-settings-content .single-settings>span {
        min-width: 120px;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .color-icon {
        padding-right: 12px;
        margin-right: 12px;
    }
    .rex-pano-tab-content .general .inner-nav-content .single-settings.audio-setting>span {
        min-width: auto;
        padding-right: 20px;
    }
}

@media (max-width: 1499px) {
    .post-type-wpvr_item #post-body #postbox-container-1 {
        width: 500px;
    }
    .post-type-wpvr_item #post-body #postbox-container-2 {
        width: calc(100% - 520px);
    }
    .post-type-wpvr_item #post-body #postbox-container-1 .iframe-wrapper {
        height: 290px;
    }
    #custom-ifram {
        height: 228px;
    }
    .iframe-wrapper #cross {
        top: 21px;
        right: 17px;
    }
    .rex-pano-tabs {
        display: block;
        margin-left: 0;
    }
    .rex-pano-tabs .main-nav {
        padding: 0;
        width: 100%;
    }
    .rex-pano-tabs .main-nav>ul {
        display: flex;
        align-items: center;
    }
    .rex-pano-tabs .main-nav li {
        display: inline-block;
        border-bottom: none;
        margin-right: 2px;
        flex: 1;
    }
    .rex-pano-tabs .main-nav li:last-child {
        margin-right: 0px;
    }
    .rex-pano-tabs .main-nav li span {
        margin-bottom: 0;
    }
    .rex-pano-tabs .rex-pano-tab-nav.main-nav li span {
        height: 80px;
        padding: 0 12px;
    }
    .rex-pano-tabs .rex-pano-tab-nav.main-nav li.logo {
        height: 76px;
    }
    .rex-pano-tab-content {
        width: 100%;
    }
}

@media (max-width: 1399px) {
    .post-type-wpvr_item #poststuff #post-body {
        display: block;
    }
    .post-type-wpvr_item #post-body #postbox-container-1 {
        width: 100%;
    }
    .post-type-wpvr_item #post-body #postbox-container-1 .iframe-wrapper {
        height: 370px;
    }
    .post-type-wpvr_item #post-body #postbox-container-2 {
        width: 100%;
        margin-right: 0;
    }
    #custom-ifram {
        height: 296px;
    }
    .iframe-wrapper #cross {
        top: 24px;
        right: 20px;
    }
    .rex-pano-tabs .rex-pano-tab-nav.main-nav li span {
        padding: 0 10px;
    }
    .rex-pano-tab-content .general .general-inner-tab .inner-nav li>span {
        flex-flow: row;
    }
    .rex-pano-tab-content .general .general-inner-tab .inner-nav li>span img {
        margin-right: 10px;
        margin-bottom: 0;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper {
        display: flex;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .left {
        width: 50%;
        padding-right: 15px;
        border-right: 1px solid #e4e4e4;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .right {
        width: 50%;
        padding-left: 15px;
    }
    /* ----------scene tab tooltip----- */
    .single-scene .scene-content .scene-right .field-tooltip span {
        bottom: calc(100% + 13px);
        top: initial;
        left: initial;
        right: -20px;
        transform: translateY(0);
    }
    .single-scene .scene-content .scene-right .field-tooltip span:before {
        left: inherit;
        right: 24px;
        top: initial;
        bottom: -10px;
        transform: translateY(0) rotate(-92deg);
    }
}

@media (max-width: 1300px) {
    .preview-btn-area #error_occured {
        float: none;
        margin-bottom: 20px;
    }
    .preview-btn-area #panolenspreview {
        float: none;
    }
}

@media (max-width: 1199px) {
    .rex-pano-tab-content {
        border-left: none;
    }
    .rex-pano-tabs .main-nav li {
        width: 144px;
        margin-right: 12px;
    }
    .rex-pano-tabs .main-nav li span {
        padding: 0 10px;
    }
    .rex-pano-tab-content .rex-pano-tab.video,
    .rex-pano-tab-content .rex-pano-tab.export,
    .rex-pano-tab-content .rex-pano-tab.general {
        padding: 20px 20px;
    }
    .rex-pano-sub-tabs .rex-pano-tab-nav {
        padding: 20px 20px 20px;
    }
    .rex-pano-sub-tabs .rex-pano-tab-content {
        padding: 20px 20px;
    }
    /* .hotspot-setup .single-hotspot > .wrapper,
    .hotspot-setup .single-hotspot .hotspot-type {
        float: none;
        width: 100%;
    } */
    /* .hotspot-setup .single-hotspot > .wrapper {
        padding-right: 0;
    } */
    .hotspot-setup .rex-pano-tab-content {
        padding: 30px 0px 0;
    }
    .preview-btn-area {
        padding: 0 0 25px 0px;
        border-top: none;
    }
    .preview-btn-wrapper {
        padding: 0px 20px;
    }
    input.delete-hotspot,
    input.delete-scene {
        position: absolute;
        top: 25px;
        right: 25px;
    }
    input.delete-hotspot {
        right: 5px;
        top: 35px;
    }
    /* ----------------- */
    .single-scene .scene-content .scene-left {
        width: 48%;
    }
    .single-scene .scene-content .scene-right {
        width: 48%;
    }
    .single-scene .scene-content .scene-setting {
        max-width: 410px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .rex-pano-tabs .main-nav>ul {
        flex-wrap: wrap;
    }
    .rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame {
        width: 90px;
        height: 70px;
    }
    .rex-pano-tab-content .general .inner-nav-content .single-settings.cp-logo-area .logo-upload-frame img {
        max-width: 70px;
        max-height: 50px;
    }
}

@media only screen and (max-width: 991px) {
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper {
        display: block;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .left {
        width: 100%;
        padding-right: 0;
        border-right: none;
        margin-bottom: 20px;
    }
    .rex-pano-tab-content .general .inner-nav-content .inner-single-content .content-wrapper .right {
        width: 100%;
        padding-left: 0;
    }
    .rex-pano-tab-content .general .inner-nav-content .left .field-tooltip span {
        bottom: calc(100% + 13px);
        top: initial;
        left: initial;
        right: -20px;
        transform: translateY(0);
    }
    .rex-pano-tab-content .general .inner-nav-content .left .field-tooltip span:before {
        left: inherit;
        right: 24px;
        top: initial;
        bottom: -10px;
        transform: translateY(0) rotate(-92deg);
    }
}


/* -----------On Boarding Page style----------- */

.rex-onboarding * {
    box-sizing: border-box;
}

.rex-onboarding {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(2, 0, 105, 0.05);
    /* max-width: 1280px; */
    width: calc(100% - 15px);
    margin-top: 20px;
}

.rex-onboarding ul.rex-tabs {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e9edf4;
    border-radius: 15px 15px 0 0;
    padding-top: 30px;
    height: auto;
    overflow: visible;
}

.rex-onboarding ul.rex-tabs>.wpvr_tabs_row {
    width: auto !important;
}

.rex-onboarding ul.rex-tabs>li {
    margin-left: 130px;
}

.rex-onboarding ul.rex-tabs>li:first-child {
    margin-left: 0;
}

.rex-onboarding ul.rex-tabs>li>a {
    font-size: 16px;
    color: #787890;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    position: relative;
    overflow: visible;
}

.rex-onboarding ul.rex-tabs>li>a:hover,
.rex-onboarding ul.rex-tabs>li>a.active {
    color: #201cfe;
}

.rex-onboarding ul.rex-tabs>li>a:focus {
    box-shadow: none;
    border: none;
}

.rex-onboarding ul.rex-tabs>li>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: all 0.3s ease;
}

.rex-onboarding ul.rex-tabs>li>a.active::before {
    background: #201cfe;
}

.rex-onboarding ul.rex-tabs>li>a svg {
    height: 18px;
    width: 18px;
    margin-right: 14px;
}

.rex-onboarding ul.rex-tabs>li>a svg path {
    fill: #787890;
    transition: all 0.3s ease;
}

.rex-onboarding ul.rex-tabs>li>a:hover svg path,
.rex-onboarding ul.rex-tabs>li>a.active svg path {
    fill: #201cfe;
}

.rex-onboarding ul.rex-tabs .indicator {
    display: none;
}

.rex-onboarding .block-wrapper.info-tab {
    display: flex;
    align-items: flex-start;
}

.rex-onboarding .block-wrapper {
    padding: 40px 30px;
}

.rex-onboarding .info-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: -30px;
    width: 75%;
}

.rex-onboarding .single-block {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px 40px;
    margin-top: 30px;
    margin-left: 30px;
    width: calc(100% / 3 - 30px);
    box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
}

.rex-onboarding .single-block .icon {
    background-color: #f0f1f3;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
}

.rex-onboarding .single-block h4 {
    font-size: 16px;
    font-weight: 500;
    color: #3c3e4a;
    margin-top: 12px;
    margin-left: 54px;
}

.rex-onboarding .single-block p {
    font-size: 14px;
    color: #787890;
    margin-bottom: 24px;
}

.rex-onboarding .wpvr-btn {
    border-radius: 5px;
    background-color: rgb(32, 28, 254);
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 0 30px;
    box-shadow: none;
    margin-top: auto;
    transition: all 0.3s ease;
}

.rex-onboarding .wpvr-btn:hover {
    background: #004EFA;
}


/* ---banner block--- */

.rex-onboarding .single-block.banner {
    border: 5px solid #fff;
    padding: 0;
    margin-top: 0;
    width: calc(100% / 3 * 2 - 30px);
    background: #f3f2ff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.rex-onboarding .single-block.banner img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
}


/* ---share block--- */

.rex-onboarding .single-block.share-block {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    display: block;
    margin-top: 0;
}

.rex-onboarding .single-block.share-block .social-share {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
    padding: 20px 30px;
    margin-top: 30px
}

.rex-onboarding .single-block.share-block .social-share h4 {
    display: block;
    margin-top: 0;
    margin-left: 0;
}

.rex-onboarding .single-block.share-block .social-share ul {
    margin: 0;
}

.rex-onboarding .single-block.share-block .social-share li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 17px;
}

.rex-onboarding .single-block.share-block .social-share ul li a {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
}

.rex-onboarding .single-block.share-block .social-share ul li a img {
    position: absolute;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.rex-onboarding .single-block.share-block .social-share ul li a img.hover {
    opacity: 0;
    visibility: hidden;
}

.rex-onboarding .single-block.share-block .social-share ul li a:hover img.hover {
    opacity: 1;
    visibility: visible;
}

.rex-onboarding .single-block.share-block .social-share ul li a:hover img.regular {
    opacity: 0;
    visibility: hidden;
}

.rex-onboarding .single-block.share-block .upgrade-pro {
    border: 1px solid #201cfe;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    border-radius: 10px;
    background: #fff;
    min-height: 171px;
}

.rex-onboarding .single-block.share-block .upgrade-pro .wpvr-btn {
    margin-top: 20px;
}


/* -------promotion area------ */

.rex-onboarding .promotion-area {
    width: 25%;
    margin-left: 30px;
    background: #f1f1f1;
    padding: 12px 20px 20px;
    border-radius: 10px;
}

.rex-onboarding .promotion-area h4.title {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
}

.rex-onboarding .promotion-area .single-block {
    width: 100%;
    padding: 20px 20px 20px;
    margin-left: 0;
    min-height: 225px;
}

.rex-onboarding .promotion-area .single-block .icon {
    padding: 7px;
}

.rex-onboarding .promotion-area .single-block .icon img {
    max-width: 100%;
}

.rex-onboarding .promotion-area .single-block.m2c .icon img {
    border-radius: 100%;
}


/* ----------video tab style-------- */

.rex-onboarding .video-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.rex-onboarding .video-wrapper .video-left {
    width: calc(100% - 280px);
    height: 400px;
}

.rex-onboarding .video-wrapper .video-left iframe {
    border-radius: 10px;
}

.rex-onboarding .video-wrapper .video-right {
    width: 280px;
    padding-left: 30px;
}

.rex-onboarding .video-wrapper .video-right .single-block {
    margin-left: 0;
    width: 100%;
}


/* ----------wpvr-compare (free vs pro)-------- */

.rex-onboarding .wpvr-compare {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.rex-onboarding .compare-tbl-wrapper {
    margin-bottom: 75px;
}

.rex-onboarding .wpvr-compare .compare-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rex-onboarding .wpvr-compare .compare-header h4 {
    font-size: 24px;
    line-height: 40px;
    color: #363b4e;
    font-weight: 500;
    margin: 0;
}

.rex-onboarding .wpvr-compare .compare-header .wpvr-btn {
    height: 45px;
    line-height: 45px;
}

.rex-onboarding .wpvr-compare .single-feature {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0;
}

.rex-onboarding .wpvr-compare .single-feature:nth-child(odd) {
    background: #f8f8fc;
}

.rex-onboarding .wpvr-compare .single-feature li {
    display: block;
    font-size: 16px;
    color: #787890;
    line-height: 1.4;
    padding: 10px 0;
    margin: 0;
}

.rex-onboarding .wpvr-compare .single-feature .feature {
    width: 78%;
    padding-right: 20px;
}

.rex-onboarding .wpvr-compare .single-feature .free {
    width: 10%;
    text-align: center;
}

.rex-onboarding .wpvr-compare .single-feature .pro {
    width: 10%;
    text-align: center;
}

.rex-onboarding .wpvr-compare .feature-list .icon {
    width: 25px;
    height: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
}

.rex-onboarding .wpvr-compare .list-header {
    background: #ececf6!important;
}

.rex-onboarding .wpvr-compare .list-header li {
    color: #201cfe;
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 0;
}

.rex-onboarding .wpvr-more-feature h5 {
    font-size: 24px;
    color: #3c3e4a;
    font-weight: 500;
    margin: 0 0 20px;
}

.rex-onboarding .wpvr-more-feature ul {
    column-count: 3;
}

.rex-onboarding .wpvr-more-feature ul li {
    font-size: 16px;
    line-height: 1.4;
    color: #787890;
    position: relative;
    padding-left: 34px;
    margin-bottom: 16px;
}

.rex-onboarding .wpvr-more-feature ul li img {
    width: 17px;
    position: absolute;
    top: 4px;
    left: 0;
}

.rex-onboarding .wpvr-compare .footer-btn {
    margin-top: 40px;
}

.rex-onboarding .wpvr-compare .footer-btn .wpvr-btn {
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
}


/* ----------import tab style---------- */

.rex-onboarding .import-tab .tab-title {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
}

.rex-onboarding .import-tab .file-path-wrapper input {
    border: 1px solid #deddff;
    background-color: #fafbff;
    max-width: 650px;
    border-radius: 5px;
    height: 50px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.rex-onboarding .import-tab .file-path-wrapper input:focus {
    box-shadow: none;
    outline: none;
}

.rex-onboarding .import-tab .btn-floating.btn-large {
    width: 46px;
    height: 46px;
    margin-bottom: 10px;
    background: #f3f3ff!important;
    box-shadow: none;
    border: 1px solid #8f8dfe;
    border-radius: 10px;
}

.rex-onboarding .import-tab .btn-floating.btn-large i {
    line-height: 45px;
    color: #1f1cfd;
}

.rex-onboarding .import-tab .vr-notice {
    margin-top: 0;
    color: #e23636;
}


/* ---------wpvr-settings tab style------------ */

.rex-onboarding .wpvr-settings h4 {
    font-size: 24px;
    color: #3c3e4a;
    font-weight: 500;
    margin: 0 0 35px 0;
}

.rex-onboarding .wpvr-settings .settings-wrapper {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.rex-onboarding .wpvr-settings .wpvr_role-container {
    width: 50%;
    padding-right: 30px;
}

.rex-onboarding .wpvr-settings.pro-active .wpvr_role-container {
    padding-right: 0;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul {
    padding: 0;
    margin: 0;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li {
    display: flex;
    margin-bottom: 28px;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li:last-child {
    margin-bottom: 0;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li h6 {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    width: calc(100% - 50px);
    padding-right: 30px;
    color: #787890;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li.enqueue-script {
    display: flex;
    flex-flow: row wrap;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li.enqueue-script h6 {
    padding-right: 0;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li.front-notice h6 {
    width: calc(100% - 91px);
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li.enqueue-script textarea {
    border: 1px solid #ddd;
    margin: 10px 0 0 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li.enqueue-script textarea:focus {
    box-shadow: none;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li .wpvr-version {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li .wpvr-version .wpvr-btn {
    margin-top: 0;
    height: 45px;
    border: none;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li .wpvr-version select {
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    margin-right: 10px;
    width: 220px;
    margin-left: auto;
}

.rex-onboarding .wpvr-settings .wpvr_role-container ul li .wpvr-version select:focus {
    outline: none;
}

.rex-onboarding .wpvr-settings .wpvr_role-container .save-progress-bar {
    height: 10px;
    margin-bottom: 25px;
    padding-top: 8px;
}

.rex-onboarding .wpvr-settings .wpvr_role-container .save-progress-bar .progress {
    background-color: #c3c2fd;
    margin: 0;
}

.rex-onboarding .wpvr-settings .wpvr_role-container .save-progress-bar .indeterminate {
    background-color: #201cfe;
    display: block;
}

.rex-onboarding .wpvr-settings a.wpvr-pro {
    position: absolute;
    top: 14px;
    left: -14px;
}


/* ----------- */

.rex-onboarding .wpvr-settings .upgrade-pro {
    border: 1px solid #201cfe;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    border-radius: 10px;
    background: #fff;
    width: 346px;
}

.rex-onboarding .wpvr-settings .upgrade-pro img {
    margin-bottom: 20px;
}


/*-----------wpvr-tooltip style------- */

.wpvr-tooltip {
    margin-left: 25px;
    position: relative;
}

.wpvr-tooltip .icon {
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.wpvr-tooltip p {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    font-size: 15px;
    line-height: 24px;
    color: #363b4e;
    font-weight: 400;
    background: #f8f5fd;
    padding: 10px 15px;
    border-radius: 5px;
    width: 230px;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.wpvr-tooltip p:before {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    width: 10px;
    height: 10px;
    background: #f8f5fd;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
}

.wpvr-tooltip .icon:hover+p {
    opacity: 1;
    visibility: visible;
}


/*-----------setup wizard style-----------*/

.setup-wizard-carousel .owl-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.setup-wizard-carousel .owl-nav button.owl-prev,
.setup-wizard-carousel .owl-nav button.owl-next {
    border: none;
    background: #1fb3fb !important;
    display: inline-block;
    padding: 12px 20px !important;
    color: #fff;
    margin: 0 3px;
    border-radius: 5px;
    font-size: 18px;
}

.setup-wizard-carousel .owl-nav button.owl-prev.disabled,
.setup-wizard-carousel .owl-nav button.owl-next.disabled {
    display: none;
}

.setup-wizard-carousel .single-setup h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.setup-wizard-carousel .single-setup p {
    font-size: 18px;
}

.setup-wizard-carousel .single-setup .input-group {
    margin-bottom: 15px;
}

.setup-wizard-carousel .single-setup .input-group label {
    font-size: 18px;
    line-height: normal;
    color: #333;
    font-weight: 500;
    position: relative;
    padding-left: 35px;
}

.setup-wizard-carousel .single-setup .input-group label:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #1fb3fb;
    top: -3px;
    left: 0;
    border-radius: 100%;
}

.setup-wizard-carousel .single-setup .input-group label:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #1fb3fb;
    top: 2px;
    left: 5px;
    transform: scale(0);
    border-radius: 100%;
    transition: all 0.3s ease;
    border: none;
}

.setup-wizard-carousel .single-setup .input-group input:checked~label:after {
    transform: scale(1);
}


/*------------responsive style------------*/

@media (max-width: 1499px) {
    .rex-onboarding {
        max-width: calc(100% - 15px);
    }
    .rex-onboarding .wpvr-settings .wpvr_role-container {
        width: calc(100% - 346px);
    }
    .rex-onboarding .wpvr-settings.pro-active .wpvr_role-container {
        width: 70%;
        padding-right: 0;
    }
}


/*--media max 1499px */

@media (max-width: 1399px) {
    .rex-onboarding .block-wrapper {
        padding: 50px 30px;
        flex-flow: column;
    }
    .rex-onboarding .compare-tbl-wrapper {
        margin-bottom: 45px;
    }
    .rex-onboarding .info-wrapper {
        margin-left: -30px;
        width: calc(100% + 30px);
    }
    .rex-onboarding .promotion-area {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .rex-onboarding .promotion-area h4.title {
        width: 100%;
    }
    .rex-onboarding .promotion-area .single-block {
        width: calc(50% - 10px);
        margin-left: 0;
        min-height: auto;
        margin-top: 0;
    }
}


/*--media max 1399px */

@media (max-width: 1199px) {
    .rex-onboarding ul.rex-tabs>li {
        margin-left: 70px;
    }
    .rex-onboarding .single-block {
        width: calc(100% / 2 - 30px);
    }
    .rex-onboarding .single-block.banner {
        width: calc(100% / 3 * 3 - 30px);
    }
    .rex-onboarding .single-block.share-block {
        margin-top: 30px;
    }
    .rex-onboarding .wpvr-more-feature ul {
        column-count: 2;
    }
    .rex-onboarding .wpvr-settings .settings-wrapper {
        display: block;
    }
    .rex-onboarding .wpvr-settings .wpvr_role-container {
        width: 100%;
        padding-right: 0;
    }
    .rex-onboarding .wpvr-settings .wpvr-tooltip p {
        top: inherit;
        bottom: calc(100% + 11px);
        left: inherit;
        right: -10px;
        transform: translateY(0);
    }
    .rex-onboarding .wpvr-settings .wpvr-tooltip p:before {
        left: inherit;
        right: 17px;
        top: inherit;
        bottom: -10px;
    }
    .rex-onboarding .wpvr-settings .upgrade-pro {
        margin-top: 40px;
    }
    .rex-onboarding .wpvr-settings.pro-active .wpvr_role-container {
        width: 100%;
        padding-right: 0;
    }
    .rex-onboarding .video-wrapper {
        display: block;
    }
    .rex-onboarding .video-wrapper .video-left {
        width: 100%;
    }
    .rex-onboarding .video-wrapper .video-right {
        padding-left: 0;
    }
}

.wpvr-delete-alert-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    width: calc(100% - 160px);
    height: 100%;
    background: rgba(51, 51, 51, 0.4);
    z-index: 999;
    display: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirmation {
    background: #fff;
    box-shadow: 0 1px 34px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px 20px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    animation: wpvr-bounce 0.3s;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirmation h3 {
    font-size: 16px;
    font-weight: 500;
}

.wpvr-delete-alert-wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn li {
    margin: 0 10px;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn .btn-default {
    height: 41px;
    line-height: 40px;
    padding: 0 20px;
    min-width: 110px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn .btn-default.yes {
    background-color: #004EFA;
    color: #fff;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn .btn-default.yes:hover {
    background-color: #0c4ee0;
    cursor: pointer;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn .btn-default.cancel {
    background-color: #eee;
    color: #333;
    cursor: pointer;
}

.wpvr-delete-alert-wrapper .wpvr-delete-confirm-btn .btn-default.cancel:hover {
    background-color: #e2e2e2;
}

@keyframes wpvr-bounce {
    0% {
        transform: scale(.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 992px) {
    .rex-onboarding ul.rex-tabs>.wpvr_tabs_row {
        flex-grow: inherit;
    }
}

@media (max-width: 991px) {
    .single-hotspot .hotspot-setting select {
        height: 46px!important;
    }
    .hotspot-setup .hotspot-setting.custom-icon .field-tooltip span {
        top: inherit;
        left: inherit;
        right: -5px;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit;
        transform: inherit;
        bottom: 42px;
    }
    .hotspot-setup .hotspot-setting.custom-icon .field-tooltip span:before {
        left: inherit;
        top: inherit;
        -webkit-transform: translateY(0) rotate(-90deg);
        -moz-transform: translateY(0) rotate(-90deg);
        -ms-transform: translateY(0) rotate(-90deg);
        -o-transform: translateY(0) rotate(-90deg);
        transform: translateY(0) rotate(-90deg);
        bottom: -10px;
        right: 10px;
    }
}